*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #f5f6f8;
  color: #374151;
  font-size: 14px;
  line-height: 1.5;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: block;
  text-align: left;
  border-inline: none;
}
